import /init.gtexslte_base.rc

# Bluetooth dhcpcd config
service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    class late_start
    disabled
    oneshot

# IPSec for VOLTE
service ipsec-daemon /system/bin/IPSecService
    class main
    socket ipsec_socket stream 660 system system
    user system
    group system net_raw inet net_admin